<html layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/review_feed.css" />
</head>
<div layout:fragment="content">
    <div class="container feed_container">
        <div class="row justify-content-center">
            <div class="text-center mt-5">
                <img th:src="@{${profileImage} != null ? ${profileImage} : '/img/food/food_default.png'}" alt="" class="rounded-circle" style="width: 150px;">
                <h3 th:text="${usernickname}" class="mt-2"></h3>
         
                <a href="/review" class="text-dark mt-2">
                    <p class="mt-2">다른 분들의 리뷰를 더 보고싶다면?</p>
                </a>
            </div>
        </div>
        <hr>
    </div>

    <div class="container my-5">
        <div class="row">
            <div th:each="imageMap : ${reviewImages}" class="col-lg-4 col-md-12 S3_fe_img_box">
                <a th:href="@{/review_detail/{id}(id=${imageMap.reviewId})}">
                    <i class="fa-solid fa-images S3_fe_icon"></i>
                    <img th:src="@{${imageMap.imagePath}}" alt="Review Image" class="img-fluid S3_fe_img">
                </a>
            </div>
            <!-- col -->
        </div>
        <!--row-->
    </div>
    <!--container-->
</div>
</html>
