<html layout:decorate="~{layout}" >
<head>
    <link rel="stylesheet" href="/css/review_feed.css" />
</head>
<div layout:fragment="content">

   <div class="container ">
      <div class="row justify-content-center ">
        <div class="text-center mt-5">
            <img src="/img/profile/1.jpg" alt="프로필사진" style="width: 150px;" class="rounded-circle my-3"><h3>닉네임(아이디)</h3>
           <p class="lead mb-5">안녕하세요 맛집 찾는 게 취미입니다.</p>
           <a href="/review" class="text-dark">
            <p>다른 분들의 리뷰를 더 보고싶다면?</p>
           </a>
         </div>
      </div>
          <hr>
    </div>

    <div class="container my-5 ">
      <div class="row ">
        <div class="col-lg-4 col-md-6 S3_fe_img_box ">
            <a href="/review_detail">
                <i class="fa-solid fa-images S3_fe_icon"></i>
                <img src="img/food/food1_1.jpg" alt="" class="img-fluid S3_fe_img ">
            </a>
        </div>
        <!--col-4-->
        <div class="col-lg-4 col-md-6 S3_fe_img_box ">
            <a href="">
                <img src="img/food/food2_2.png" alt="" class="img-fluid S3_fe_img">
            </a>
        </div>
        <!--col-4-->
        <div class="col-lg-4 col-md-6 S3_fe_img_box ">
            <a href="">
                <img src="img/food/food2_2.png" alt="" class="img-fluid S3_fe_img">
            </a>
        </div>
        <!--col-4-->
        <div class="col-lg-4 col-md-6 S3_fe_img_box ">
            <a href="">
                <img src="img/food/food2_2.png" alt="" class="img-fluid S3_fe_img">
            </a>
        </div>
        <!--col-4-->
        <div class="col-lg-4 col-md-6 S3_fe_img_box ">
            <a href="">
                <img src="img/food/food2_2.png" alt="" class="img-fluid S3_fe_img">
            </a>
        </div>
        <!--col-4-->
        <div class="col-lg-4 col-md-6 S3_fe_img_box ">
            <a href="">
                <img src="img/food/food2_2.png" alt="" class="img-fluid S3_fe_img">
            </a>
        </div>
        <!--col-4-->
        <div class="col-lg-4 col-md-6 S3_fe_img_box ">
            <a href="">
                <img src="img/food/food2_2.png" alt="" class="img-fluid S3_fe_img">
            </a>
        </div>
        <!--col-4-->
        <div class="col-lg-4 col-md-6 S3_fe_img_box">
            <a href="">
                <img src="img/food/food2_2.png" alt="" class="img-fluid S3_fe_img">
            </a>
        </div>
        <!--col-4-->
        <div class="col-lg-4 col-md-6 S3_fe_img_box">
            <a href="">
                <img src="img/food/food2_2.png" alt="" class="img-fluid S3_fe_img">
            </a>
        </div>
        <!--col-4-->


      </div>
      <!--row-->
      </div>
      <!--container-->

</div>
</html>