<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
    <link rel="stylesheet" href="/css/review_create_form.css" />
</head>
<body>
<div layout:fragment="content">
    <form id="reviewForm" action="/review_create" method="post" enctype="multipart/form-data">
        <div class="S3_rw">
            <label for="title">제목</label>
            <input type="text" id="title" name="title" placeholder="제목을 입력하세요...">

            <label for="file-upload">파일(최소 1개부터 5개까지 추가 등록 가능합니다!!)</label>
            <div class="file-upload">
                <div class="icon-container">
                    <div class="icon" id="add-icon" onclick="document.getElementById('file-upload').click();">
                        <span id="file-icon" style="font-size: 50px; color: #d0d0d0;">+</span>
                    </div>
                    <input type="file" id="file-upload" name="fileUpload" accept="image/*" onchange="addImage(event)" style="display: none;" multiple >
                </div>
            </div>

            <br>
            <label for="content">내용</label>
            <textarea id="content" name="content" placeholder="내용을 입력하세요..."></textarea>

            <label for="S3_tags_input">태그(최소 1개 최대 5개까지 등록 가능합니다!!)</label>
            <div class="tags-container">
                <div id="tagGroup"></div>
                <input type="text" id="S3_tags_input" name="tags_input" placeholder="#태그명">
                <input type="hidden" id="S3_tagsOutput" name="tags_output">
            </div>

            <!-- 별점 섹션 추가 -->
            <div id="app" class="star-rating-container">
                <div class="star-ratings">
                    <div class="star-ratings-fill space-x-2 text-lg">
                        <span class="star">★</span><span class="star">★</span><span class="star">★</span><span class="star">★</span><span class="star">★</span>
                    </div>
                    <div class="star-ratings-base space-x-2 text-lg">
                        <span class="star" v-for="n in 5" @click="setRating(n)">★</span>
                    </div>
                </div>
                <p class="selected-rating">별점 : {{ selectedRating }}점</p>
                <input type="hidden" name="rating" id="rating" :value="selectedRating">
            </div>

            <button type="submit" class="btn btn-dark">등록</button>
        </div>
    </form>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="/js/review_create_form.js"></script>
</div>
<!-- content -->


</body>
</html>
