<html layout:decorate="~{layout}">

<head>
	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/board/Board.css" />
</head>

<div layout:fragment="content">
	<div class="container" style="margin-top: 30px; margin-bottom: 20px;">
		<div class="d-flex justify-content-between">
			<button type="button" class="btn btn-dark btn-sm" onclick="history.back()"><i class="ri-arrow-left-line"
					style="color: #ffffff;"></i> 이전</button>
			<span>
				<i th:if="${board.boardTag == '일반'}" class="badge badge-primary ri-message-3-line"><span
						th:text="${board.boardTag}" style="color: white;"></span></i>
				<i th:if="${board.boardTag == '질문'}" class="badge badge-success ri-question-mark"><span
						th:text="${board.boardTag}"></span></i>
				<i th:if="${board.boardTag == '친구찾기'}" class="badge badge-warning ri-search-2-line"><span
						th:text="${board.boardTag}"></span></i>
			</span>
		</div>
		<div>



			<div class="question_title">
				<span class="">질문제목 :</span>
				<span th:text="${board.boardTitle}"></span>
				<span class="small float-right">
					유저명 :<span th:text="${board.username}"></span>
				</span>
				<br />
				<span>
			
					<a href="javascript:void(0);" th:data-uri="@{|/question/delete/${board.boardId}|}"
						class="delete mt-2 float-right questionBodyBtn Afont h6" sec:authorize="isAuthenticated()"
						th:if="${board.user != null and #authentication.getPrincipal().getUsername() == board.user.username}"
						 >
						질문 삭제</a>
					<a id="editQuestionBtn" th:data-board-id="${board.boardId}"
						class=" mt-2 float-right questionBodyBtn Afont h6" sec:authorize="isAuthenticated()"
						th:if="${board.user != null and #authentication.getPrincipal().getUsername() == board.user.username}"
						style="margin-right: 10px;">
						질문 수정</a>
						<a id="editTitleBtn" th:data-board-id="${board.boardId}"
										class=" mt-2 float-right questionBodyBtn Afont h6" sec:authorize="isAuthenticated()"
										th:if="${board.user != null and #authentication.getPrincipal().getUsername() == board.user.username}"
										style="margin-right: 10px;">
										제목 수정
									</a>
				</span>
			</div>

			<div class="questionBody border_topLine " style="margin-top: 4rem" ;>
				<span th:text="${board.boardContent}" class="question"></span>
			</div>

			<div class="border_bottomLine"> </div>
			<!-- 질문 수정 모달 -->
			<div class="modal" id="editQuestionModal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<form id="editQuestionForm">
							<div class="modal-header">
								<h5 class="modal-title">질문 수정</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<textarea id="editQuestionContent" class="form-control" name="content"
									rows="4"></textarea>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
								<button type="submit" class="btn btn-primary">저장</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<!-- 제목 수정 모달 -->
			<div class="modal" id="editTitleModal" tabindex="-1" role="dialog">
			    <div class="modal-dialog" role="document">
			        <div class="modal-content">
			            <form id="editTitleForm">
			                <div class="modal-header">
			                    <h5 class="modal-title">제목 수정</h5>
			                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			                        <span aria-hidden="true">&times;</span>
			                    </button>
			                </div>
			                <div class="modal-body">
			                    <input type="text" id="editTitleContent" class="form-control" name="title" rows="4" />
			                </div>
			                <div class="modal-footer">
			                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
			                    <button type="submit" class="btn btn-primary">저장</button>
			                </div>
			            </form>
			        </div>
			    </div>
			</div>

		</div>

		<div class="mt-4">
			<h4 th:text="|${#lists.size(board.answerList)}개의 답변이 있습니다.|" class="  questionSize"></h4>

			<div>
				<ul class="list-unstyled mt-4">
					<li class="answer_line" th:each="answer : ${board.answerList}" style="margin-top: 20px;">
						<div th:id="|answer_${answer.AnswerId}|" style="margin-bottom: 20px;">
							<span th:text="${answer.AnswerContent}"></span>
							<span class="badge badge-pill badge-info mr-2" th:if="${answer.user != null}">
								[[${answer.user.username}]]
							</span>
							<a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.AnswerId}|}"
								class="Afont delete float-right" sec:authorize="isAuthenticated()"
								th:if="${answer.user != null and #authentication.getPrincipal().getUsername() == answer.user.username}"
								th:text="답변삭제"></a>

							<button class="Afont edit-btn float-right" th:data-id="${answer.AnswerId}"
								th:data-content="${answer.AnswerContent}" sec:authorize="isAuthenticated()"
								th:if="${answer.user != null and #authentication.getPrincipal().getUsername() == answer.user.username}"
								style="margin-right: 10px; border: 0px; background-color: white;">답변수정</button>

							<button class="Afont float-right" th:data-id="${answer.AnswerId}"
								style="margin-right: 5px; border: 0px; background-color: white;" id="reply-btn">대댓글 달기</button>
							<div class="reply-container hidden">
								<textarea class="form-control mt-2" rows="3" placeholder="대댓글을 입력하세요"></textarea>
								<button class="btn btn-success mt-2 save-reply-btn">저장</button>
							</div>
						</div>

						<div class="comments" style="background-color: aliceblue;">
							<p th:if="${answer.comment != null}">
							<p th:each="comment : ${answer.comment}" class="commentText">
								ㄴ <span th:text="${comment.answerContent}"></span>
								<span class="delete-comment-btn float-right"
									th:data-uri="@{|/answer/commentDelete/${comment.answerId}|}"
									sec:authorize="isAuthenticated()"
									th:if="${comment.user != null and #authentication.getPrincipal().getUsername() == comment.user.username}"
									style="margin-right: 20px; cursor: pointer;">삭제</span>
								<span class="edit-comment-btn float-right" th:data-id="${comment.answerId}"
									th:data-content="${comment.answerContent}" sec:authorize="isAuthenticated()"
									th:if="${comment.user != null and #authentication.getPrincipal().getUsername() == comment.user.username}"
									style="margin-right: 20px; cursor: pointer;">수정</span>

							</p>
							</p>
						</div>
					</li>
				</ul>
			</div>

			<!-- 답변 작성 -->
			<form th:action="@{|/answer/create/${board.boardId}|}" method="post" th:object="${answerFormDTO}">
				<div class="form-group mb-0" style="margin-top: 70px;">
					<textarea sec:authorize="isAnonymous()" placeholder="로그인한 상태에서 답변 작성 가능합니다."
						class="form-control mb-0 answerTextArea"></textarea>
					<textarea sec:authorize="isAuthenticated()" name="content" id="content" cols="30" rows="10"
						class="form-control mb-0 answerTextArea" th:field="*{content}"></textarea>
					<br /><br />
				</div>
				<input type="submit" value="답변 등록하기" class="btn btn-warning text-white p-3 mt-0" id="answerText" />
			</form>
		</div>
	</div>
	<!-- 답변 수정 모달 -->
	<div class="modal" id="editAnswerModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<form id="editAnswerForm">
					<div class="modal-header">
						<h5 class="modal-title">답변 수정</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<textarea id="editAnswerContent" class="form-control" name="content" rows="4"></textarea>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
						<button type="submit" class="btn btn-primary">저장</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<script src="/js/board/board_detail.js"></script>
</div>


</html>