<html layout:decorate="~{layout}">
<div layout:fragment="content">
	<link rel="stylesheet" href="/css/notice/notice.css">
	<script src="js/notices.js"></script>
	<div class="No container mt-10 mb-10">
		   <div class="No_notice text-center m-5">공지사항</div>
	       <div class="search_box">
	           <h5 class="mb-3 col-12">공지사항 검색</h5>
	           <div class=" d-sm-flex justify-content-between align-items-center">
	               <input type="text" class="form-control mb-3 col-12 col-sm-9" placeholder="검색어를 입력해 주세요.">
	               <button class="col-12 mb-3 col-sm-2 btn btn-primary ">검색</button>
	           </div>

	       </div>

		   <div class="accordion" id="accordionExample">
		              <div class="card" th:each="notice, loop : ${paging}">
		                  <div class="cardheader row" id="headingOne">
							<div class="col-3 col-sm-2 col-lg-1 d-flex align-items-center">
							    <span class="No_no">공지사항</span>
							</div>
							<div class="col-9 col-sm-10 col-lg-11 d-flex  align-items-center justify-content-between " type="button" data-toggle="collapse" th:data-target="'#collapse' + ${notice.noticeId}"  aria-expanded="true" th:aria-controls="'collapse' + ${notice.noticeId}">
							    <span class="No_title ml-1"  th:text="${notice.noticeTitle}">
							        [공지] 공지사항 입력해주세요
							    </span>
							    <div class="No_btn d-flex">
									<img src="img/arrow_drop.svg" alt="">
									<form action="#" th:action="@{/notices/{id}(id=${notice.noticeId})}" method="post">
									    <button class="btn" type="submit" ><i class="fa-solid fa-x" style="color: #e72323;"></i></a>
									</form>
								</div>

							</div>

		                  </div>
		                  <div th:id="'collapse' + ${notice.noticeId}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
							<div class="card-body row">
							    <div class="col-0 col-sm-2 col-lg-1"></div>
							    <div class="col-0 col-sm-10 col-lg-11 ">
							        <pre class="No_Content ml-4"th:text="${notice.noticeContent}">공지사항을 잘 입력하세요</pre>
							    </div>
							</div>
		                  </div>
		              </div>		            
		              <!-- 추가 공지사항은 여기에 추가할 수 있습니다 -->

		      </div>

			  <nav th:if="${!paging.isEmpty()}">
			    <ul class="pagination justify-content-center">
			      <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
			        <!-- <a href="javascript:void(0)" 
			        	 th:href="@{|?page=${paging.number-1}|}" class="page-link">
			        	<span>이전</span>
			        </a> -->
			        <a href="javascript:void(0)" 
			        	 th:data-page="${paging.number-1}" class="page-link">
			        	<span>이전</span>
			        </a>
			      </li>
			      <li 
			  	    th:each="page: ${#numbers.sequence(0,paging.totalPages-1)}" 
			  	    th:if="${page >= paging.number-2 and page <= paging.number+2}"
			  	    th:classappend="${page == paging.number}? 'active'"
			  	    class="page-item">
			      		<a th:data-page="${page}" class="page-link" href="javascript:void(0)" th:text="${page}"></a>
			      	<!-- th:each="page: ${#numbers.sequence(시작 번호,끝 번호)}를 넣으면 정해진 범위만큼 반복을 만들어내는 타임리프의 기능이다." 
			      	#시작하는 문법: SpEL(통합 표현언어)와 타임리프 객체에 접근할 때, 또한 조건문에서도 사용하는 타임리프 문법이다. 예)#dates, #numbers, #strings, #lists, #request, #session, #local--></li>
			      <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
			        <!-- <a href="javascript:void(0)" 
			        	 th:href="@{|?page=${paging.number+1}|}" class="page-link">
			        	<span>다음</span>
			        </a> -->
			        <a href="javascript:void(0)" 
			        	  class="page-link" th:data-page="${paging.number+1}">
			        	<span>다음</span>
			        </a>
			      </li>
			    </ul>
			  </nav>
			  <div style="display: flex; justify-content: flex-end; white-space: nowrap; ">
			    <a th:href="@{/add-notice}"  style="font-size: 12px; color: white;" class="col-3 col-sm-2 col-lg-1 btn  mt-5 bg-dark">공지 작성</a>
			  </div>
		     </div>

</div>

</html>