<html layout:decorate="~{layout}">

<head>

<link rel="stylesheet"
	href="https://unpkg.com/swiper/swiper-bundle.min.css" />
<link rel="stylesheet" href="/css/mypage.css" />
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

</head>
<div layout:fragment="content">


	<div class="container my_container ">
		<section class="My_s pt-5 pb-5">
			<div class="row justify-content-between ">
				<div class="col-lg-4 ">
					<div class="row p-2" style="height: 100%">
						<div class="my_s1 col-md-12 p-2">
							<div
								class="my_boxs p-3 d-flex flex-column justify-content-center align-items-center"
								style="height: auto; min-height: 100%;">
								<div class="p_box">
									<div class="profile col d-flex justify-content-center"
										style="align-self: center;">
										<div class="p-3 text-center">
											<div class="user_img d-flex justify-content-center mb-2">
												<img
													th:src="@{${user.imageUrl} != null ? ${user.imageUrl} : '/img/user/default-profile.png'}"
													alt="user_img" class="rounded-circle image-fluid"
													style="width: 150px; height: 150px">
											</div>
											<h3
												th:text="${user.nickname} + ' (' + ${user.username} + ')'"></h3>

											<small class="nav-link text-muted"
												th:text="'등급: ' + 
									                (${user.approvalStatus == 0} ? '관리자' :
									                (${user.approvalStatus == 1} ? '일반 사용자' :
									                (${user.approvalStatus == 2} ? '승인 대기 중' :
									                (${user.approvalStatus == 3} ? '승인된 사업자' :
									                (${user.approvalStatus == 4} ? '보류 중' : '알 수 없음')))))">
											</small>

										</div>
									</div>
									<div
										class="My_select col d-flex justify-content-center text-center"
										style="align-self: center;">
										<div class="menu">
											<div class="My_select_btn d-flex justify-content-center"
												style="gap: 10px;">

												<a class="btn border-dark rounded-pill"
													th:href="@{/user/confirmPassword}">내 정보 수정</a> <a
													class="btn btn-dark rounded-pill text-white"
													th:href="@{/user/logout}">로그아웃</a>
											</div>
										</div>
									</div>

								</div>
							</div>




						</div>

					</div>
				</div>
				<div class="col-lg-8 ">
					<div class="row p-2">
						<!-- 박스1 -->
						<div class="col-12 p-2 box1 align-items-center">
							<div class="top_boxs p-3 my_boxs">
								<div
									class="d-flex p-1 justify-content-between align-items-center">
									<span class="list_title">즐겨찾기</span>
									<!-- 전체보기를 오른쪽 끝에 배치 -->
								</div>

								<div class="col top_list p-3 d-flex align-items-center"
									style="overflow: hidden;">
									<div class="swiper-container align-items-cente d-flex"
										id="swiper1">
										<div class="swiper-wrapper">
											<!-- 내가 고른 맛집 카드 -->
											<div
												class="swiper-slide card mr-2 d-flex align-items-center text-center"
												th:each="store : ${likedStores}">
												<a
													th:href="@{/store/detail/{storeId}(storeId=${store.storeId})}">
													<div class="like_img"
														style="width: 100px; height: 80px; overflow: hidden;">
														<img
															th:src="@{{storeImage}(storeImage=${store.imageUrl})}"
															class="img-fluid" alt="가게 이미지"
															style="width: 100%; height: 100%; object-fit: cover;">
													</div>
													<div class="like_title mt-2">
														<h6 class="like_title  " th:text="${store.storeName}">
														</h6>
													</div>
												</a>


											</div>

										</div>

										<div class="swiper-scrollbar"></div>
									</div>
								</div>
							</div>
						</div>
						<!-- 박스2 -->
						<div class="col-12 p-2 box2 align-items-center">
							<div class="top_boxs p-3 my_boxs">
								<div
									class="d-flex p-1 justify-content-between align-items-center text-center">
									<span class="list_title">예약 리스트</span> <a
										th:href="@{/reservation/mylist}"
										class="ml-auto text-right mb-1"><small>전체보기</small></a>
								</div>
								<div class="col top_list p-3 d-flex align-items-center"
									style="overflow: hidden;">
									<div class="swiper-container align-items-center" id="swiper2">
										<div class="swiper-wrapper text-center mt-2" >
											<div class="swiper-slide card mr-2 d-flex justify-content-center align-items-center "
												th:each="reservation : ${reservations}" >
												<div class="reservation_img"
													style="border-radius:20px; width: 120px; height: 80px;">
													<a
														th:href="@{/reservation/completed/{reservationid}(reservationid=${reservation.reservationid})}"
														style="width: 100%; height: 100%;"> <img
														th:src="@{{storeImage}(storeImage=${reservation.store.imageUrl})}"
														class="img-fluid" alt="가게 이미지"
														style="width: 100%; height: 100%; object-fit: cover;">
													</a>
												</div>
												<div class="re_title m-2 ">
													<h6 th:text="${reservation.store.storeName}">식당 이름:</h6>
													<p th:text="${reservation.reservationDay}">예약 날짜:</p>
													<small><a
														th:href="@{/review_create_form(storeId=${reservation.store.storeId}, storeName=${reservation.store.storeName})}">리뷰쓰기</a></small>
												</div>
											</div>
										</div>
										<div class="swiper-scrollbar"></div>
									</div>
								</div>
							</div>
						</div>


						<div class="col-sm-5 p-2 box3 align-items-center">
							<div class="under_boxs p-3 my_boxs" style="overflow: hidden;">
								<div
									class="d-flex p-1 justify-content-between align-items-center">
									<span class="list_title">좋아요</span>

								</div>
								<div class="row under_list p-1"
									style="overflow-x: auto; white-space: nowrap;">
									<div class="col-xl-4 col-sm-6 col-4"
										th:each="imageMap : ${likedImages}"
										style="width: 100%; height: 80px; padding: 2px;">
										<!-- 링크를 해당 리뷰의 상세 페이지로 설정 -->
										<a th:href="@{/review_detail/{id}(id=${imageMap.review.id})}"
											class="card" style="width: 100%; height: 100%;"> <!-- 이미지 크기와 비율을 고정 -->
											<img th:src="@{${imageMap.reviewImage.filepath}}"
											alt="이미지 설명"
											style="width: 100%; height: 100%; object-fit: cover; border-radius: 10px;">
										</a>
									</div>
								</div>
							</div>
						</div>





						<div class="col-sm-7 p-2 box3 align-items-center">
							<div class="under_boxs p-3 my_boxs" style="overflow: hidden;">
								<div
									class="d-flex p-1 justify-content-between align-items-center">
									<span class="list_title">🔥HOT한 맛집🔥 <span>
								</div>
								<div class="col  top_list p-3 d-flex align-items-center"
									style="overflow: hidden;">
									<div class="board d-flex align-items-center"
										style="border-radius: 20px; width: 100%; height: 100px;">
										<a
											th:if="${randomStore != null}" th:href="@{/store/${randomStore.storeId}}"
											style="width: 100%; height: 100%;"
											class="d-flex  align-items-center"> <img
											th:src="${randomStore.imageUrl}" alt="user_img"
											class=" image-fluid "
											style="width: 100px; height: 100px">

											<div class=" m-2 ">
												<div class="bord_user ml-2">
													<h4 th:text="${randomStore.storeName}"></h4>
												</div>
												<div class="bord_title ml-2 ">
													<p th:text="${randomStore.storeContent}"></p>
												</div>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</section>


	</div>
	<script>
		const swiper1 = new Swiper('#swiper1', {
			slidesPerView: 2,
			spaceBetween: 10,
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			},
			scrollbar: {
				el: '.swiper-scrollbar',
				hide: false,
				draggable: true,
			},
			breakpoints: {
				992: {
					slidesPerView: 6,
				},
				768: {
					slidesPerView: 5,
				},
				576: {
					slidesPerView: 4,
				},
				400: {
					slidesPerView: 3,
				},
			},
			on: {
				slideChange: function () {
					updateNavigationButtons(this);
				},
				scrollbarDragMove: function () {
					updateNavigationButtons(this);
				},
			},
		});

		const swiper2 = new Swiper('#swiper2', {
			slidesPerView: 2,
			spaceBetween: 10,
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			},
			scrollbar: {
				el: '.swiper-scrollbar',
				hide: false,
				draggable: true,
			},
			breakpoints: {
				992: {
					slidesPerView: 6,
				},
				768: {
					slidesPerView: 5,
				},
				576: {
					slidesPerView: 4,
				},
				400: {
					slidesPerView: 3,
				},
			},
			on: {
				slideChange: function () {
					updateNavigationButtons(this);
				},
				scrollbarDragMove: function () {
					updateNavigationButtons(this);
				},
			},
		});
		const swiper3 = new Swiper('#swiper3', {
			slidesPerView: 1,
			spaceBetween: 20,
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			},
			scrollbar: {
				el: '.swiper-scrollbar',
				hide: false,
				draggable: true,
			},
			on: {
				slideChange: function () {
					updateNavigationButtons(this);
				},
				scrollbarDragMove: function () {
					updateNavigationButtons(this);
				},

			},
		});

		function updateNavigationButtons(swiper) {
			const nextButton = swiper.navigation.nextEl;
			const prevButton = swiper.navigation.prevEl;

			if (swiper.isEnd) {
				nextButton.style.display = 'none'; // 마지막 슬라이드에서 '다음' 버튼 숨기기
			} else {
				nextButton.style.display = 'block'; // 그 외에는 '다음' 버튼 보이기
			}

			if (swiper.isBeginning) {
				prevButton.style.display = 'none'; // 첫 슬라이드에서 '이전' 버튼 숨기기
			} else {
				prevButton.style.display = 'block'; // 그 외에는 '이전' 버튼 보이기
			}
		}

	</script>
</div>


</html>