<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정</title>
    <!-- CSS 파일 추가 -->
    <link rel="stylesheet" type="text/css" href="/css/reset_password.css">
</head>
<body>

<form th:action="@{/user/resetPassword}" method="post" class="Log_RP_form">
    <!-- username을 hidden 필드로 전달 -->
    <input type="hidden" name="username" th:value="${username}">
    <div class="Log_RP_group">
        <label for="password">새 비밀번호</label>
        <input type="password" id="password" name="password" class="Log_RP_input" required>
    </div>
    <div class="Log_RP_group">
        <label for="confirmPassword">비밀번호 확인</label>
        <input type="password" id="confirmPassword" name="confirmPassword" class="Log_RP_input" required>
    </div>
    <button type="submit" class="Log_RP_btn">비밀번호 재설정</button>
</form>

</body>
</html>
