<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
	<title>가게 상세 정보</title>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" rel="stylesheet" />
	<!-- 커스텀 CSS 추가 -->
	<link rel="stylesheet" href="/css/store/store_detail.css">
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
</head>

<body>
	<div layout:fragment="content">
		<section class="S1_d py-5 my-5">
			<div class="container ">
				<div class="row">
					<div class="main col-12 m-0 col-lg-8">
						<div class="restaurant_section col card">
							<div id="ProRestaurant1" class="carousel slide" data-ride="carousel">
								<div class="carousel-inner">
									<div class="carousel-item active">
										<!--타임리프 경로 변경 kimssam-->
										<div class="image-container">
											<img th:src="@{{storeImage}(storeImage=${storeImage})}" alt="가게 이미지 1" />
										</div>
									</div>

								</div>
								<a class="carousel-control-prev" href="#ProRestaurant1" role="button" data-slide="prev"
									id="prevButton">
									<span class="carousel-control-prev-icon" aria-hidden="true"></span>
									<span class="sr-only">이전</span>
								</a>
								<a class="carousel-control-next" href="#ProRestaurant1" role="button" data-slide="next"
									id="nextButton">
									<span class="carousel-control-next-icon" aria-hidden="true"></span>
									<span class="sr-only">다음</span>
								</a>
							</div>
							<div class="card-body" style="border-top: 1px solid #ccc;">
								<!-- 가게 이름 표시 -->
								<h5 class="card-title mb-0" th:text="${store.storeName}">가게 이름</h5>
								<div class="d-flex justify-content-between align-items-center mt-2">
									<div class="d-flex">
										<!-- 가게 주소 -->
										<p class="card-text mr-2"><i class="bi bi-geo-alt"></i></p>
										<p class="restaurant_number">
											<span th:text="${store.basicAddress}">기본 주소</span>,
											<span th:text="${store.detailAddress}">상세 주소</span>
										</p>
									</div>
									<button class="btn btn-secondary btn-sm location-button">지도보기</button>
								</div>
								<div class="d-flex align-items-center mt-2">
									<!-- 가게 전화번호 -->
									<p class="card-text mr-2"><i class="bi bi-plus-circle"></i></p>
									<p class="restaurant_number" th:text="${store.storeNumber}">전화번호</p>
								</div>
								<div class="d-flex align-items-center mt-2">
									<!-- 가게 태그 -->
									<p class="card-text mr-2"><i class="bi bi-bookmark-plus"></i></p>
									<p class="restaurant_tag" th:text="${store.storeTagGroups}">가게 태그</p>
								</div>
								<div class="d-flex align-items-center mt-2">
									<!-- 가게 설명 -->
									<p class="card-text mr-2"><i class="bi bi-chat-left-text"></i></p>
									<p class="restaurant_detail" th:text="${store.storeContent}">가게 설명</p>
								</div>
							</div>
						</div>

						<div class="d-block d-lg-none" style="border-top: 1px solid #ccc;">
							<div class="restaurant_mo_re_object bg-white">
								<div class="restaurant_re_title d-flex justify-content-between align-items-center">
									<h3 class="mt-3 ml-2 .text-light">예약 하기</h3>
								</div>
								<div class="accordion S1_d_Check" id="selectAccordion">
									<!-- 테이블 날짜 체크 -->
									<div class="card">
										<div class="card-header" id="headingDay">
											<div class="d-flex align-items-center" data-toggle="collapse"
												data-target="#collapseDay" aria-expanded="true"
												aria-controls="collapseDay">
												<label class="check_title col-4 col-xl-4 col-lg-5 mt-2">날짜 선택</label>
												<input type="text" class="col form-control selected-date-input" />
											</div>
										</div>
										<div id="collapseDay" class="collapse col" aria-labelledby="headingDay"
											data-parent="#selectAccordion">
											<div class="card-body calendar-container">
												<div class="calendar"></div>
												<div class="input-container">
													<input type="hidden" placeholder="선택된 날짜"
														class="form-control mb-2 selected-date-input" />
												</div>
												<div class="Day-error-message Day-error-message-container"></div>
												<!-- 오류 메시지 영역 -->
											</div>
										</div>
									</div>

									<!-- 테이블 시간 체크 -->
									<div class="card">
										<div class="card-header" id="headingTime">
											<div class="d-flex align-items-center" data-toggle="collapse"
												data-target="#collapseTime" aria-expanded="true"
												aria-controls="collapseTime">
												<label class="check_title col-4 col-xl-4 col-lg-5 mt-2">시간
													선택</label>
												<input type="text" class="form-control selected-time" />
											</div>
										</div>
										<div id="collapseTime" class="collapse time_show" aria-labelledby="headingTime"
											data-parent="#selectAccordion">


											<div class="card-body">
												<div class="time_check row justify-content-center">
													<div class="col d-flex align-items-center"
														style="white-space: nowrap;">
														<label for="startTime2">시작 시간:</label>
														<input class="ml-2 pl-2 mb-2 time-input" type="text"
															id="startTime1" th:value="${store.storeStarttime}"
															placeholder="00:00 형식으로 입력" />
													</div>
													<div class="col d-flex align-items-center">
														<label for="endTime2">마감 시간:</label>
														<input class="ml-2 pl-2 mb-2 time-input" type="text"
															id="endTime1" th:value="${store.storeEndTime}"
															placeholder="00:00 형식으로 입력" />
													</div>
												</div>
											</div>



											<div class="error-message" id="error1">시작 시간이 끝나는 시간보다 빨라야 하며, 형식은
												HH:MM이어야 합니다.</div>
											<div class="mt-3 mb-5 time-buttons-container" id="timeButtons1"></div>
											<!-- 추가된 부분 -->
											<input type="hidden" id="selectedTimeInput1"
												class="form-control selected-time" />
										</div>
									</div>

									<!-- 테이블 인원 체크 -->
									<div class="card">
										<div class="card-header" id="headingMember">
											<div class="d-flex align-items-center" data-toggle="collapse"
												data-target="#collapseMemver" aria-expanded="true"
												aria-controls="collapseMemver">
												<label class="check_title col-4 col-xl-4 col-lg-5 mt-2">인원 선택</label>
												<input type="text" class="form-control selected-Memver" />
											</div>
										</div>
										<div id="collapseMemver" class="collapse" aria-labelledby="headingMember"
											data-parent="#selectAccordion">
											<div class="card-body">
												<div class="button-container col-12">
													<button class="btn btn-secondary decrementBtn"
														onclick="decrement()">-</button>
													<span class="count col-10" id="count">1</span>
													<button class="btn btn-secondary incrementBtn"
														onclick="increment()">+</button>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="re-error-message" id="reformError1" style="display: none;">*모두 선택하여 주시기 바랍니다
								</div>
								<a href="#" class="col restaurant_re_btn">예약하기</a>
							</div>
						</div>



						<!-- 영업시간 -->
						<div class="restaurant_section card col">
							<div class="restaurant_time card-body" id="Business-hours">
								<div class="menu-item d-flex justify-content-between align-items-center mb-2">
									<h4>영업 시간</h4>
									<span class="menuPrice" id="business_time">영업 중</span>
								</div>
								<span th:text="'오픈 시간: ' + ${store.storeStarttime}">오픈 시간</span>
								<span>~</span>
								<span th:text="'마감 시간: ' + ${store.storeEndTime}">마감 시간</span>
								<p>연중 무휴</p>
							</div>

							<!-- 메뉴 정보 -->
							<div class="restaurant_menu card-body" id="more-menu">
								<h4>메뉴 정보</h4>
								<div class="menu-item d-flex align-items-center mb-2">
									<span class="menuName">짜장면</span>
									<span class="dots mx-2"></span>
									<span class="menuPrice">5000 원</span>
								</div>
								<div class="menu-item d-flex align-items-center mb-2">
									<span class="menuName">짬뽕</span>
									<span class="dots mx-2"></span>
									<span class="menuPrice">7000 원</span>
								</div>
								<div class="menu-item d-flex align-items-center mb-2">
									<span class="menuName">탕수육(대)</span>
									<span class="dots mx-2"></span>
									<span class="menuPrice">25000 원</span>
								</div>
								<div class="menu-item d-flex align-items-center mb-2">
									<span class="menuName">탕수육(중)</span>
									<span class="dots mx-2"></span>
									<span class="menuPrice">17000 원</span>
								</div>
							</div>
							<a class="btn btn-link mt-2" id="more-button" style="display: none;">더보기</a>
							<div class="menuCreate input-group mt-2">
								<input type="text" class="form-control" id="menu-name" placeholder="메뉴 이름을 입력하세요">
								<input type="text" class="form-control" id="menu-price" placeholder="가격을 입력하세요"
									oninput="this.value = this.value.replace(/[^0-9]/g, '');">
								<div class="menuCreateAppend input-group-append">
									<button class="btn btn-outline-secondary" id="add-button">추가</button>
								</div>
							</div>
						</div>
					</div>
					<div class="restaurant_re_section d-none d-lg-block col-4 col-lg-0">
						<div class="restaurant_re_object " style="border: 1px solid #ccc;">
							<div class="restaurant_re_title d-flex justify-content-between align-items-center p-3 bg-white">
								<p>예약 하기</p>
								<div class="d-flex">
									<span class="mr-2">공유</span>
									<a href="javascript:void(0);" class="btn border mt-2 recommend"
										th:data-uri="@{|/store/vote/${store.storeId}|}">👍 
										<span class="badge bg-success">[[${#lists.size(store.voter)}]]</span>
									</a>
								</div>
							</div>
							<div class="accordion S1_d_Check" id="selectAccordion2">

								<!-- 달력 체크 -->
								<div class="card">
									<div class="card-header" id="headingDay">

										<div class="d-flex align-items-center justify-content-center"
											data-toggle="collapse" data-target="#collapseDay" aria-expanded="true"
											aria-controls="collapseDay">
											<label class="check_title col-4 col-xl-4 col-lg-5 mt-2">날짜 선택</label>
											<input type="text" class="form-control selected-date-input setDay" />
										</div>
									</div>
									<div id="collapseDay" class="collapse col" aria-labelledby="headingDay"
										data-parent="#selectAccordion2">
										<div class="card-body calendar-container">
											<div class="calendar"></div>
											<div class="input-container">
												<input type="hidden" placeholder="선택된 날짜"
													class="form-control mb-2 selected-date-input" />
											</div>
											<div class="Day-error-message Day-error-message-container"></div>
										</div>
									</div>
								</div>
								<!-- 시간 체크 -->
								<div class="card">
									<div class="card-header justify-content-center" id="headingTime">
										<div class="d-flex align-items-center" data-toggle="collapse"
											data-target="#collapseTime" aria-expanded="true"
											aria-controls="collapseTime">
											<label class="check_title col-4 col-xl-4 col-lg-5 mt-2">시간 선택</label>
											<input type="text" class="form-control selected-time setTime" />
										</div>
									</div>
									<div id="collapseTime" class="collapse time_show" aria-labelledby="headingTime"
										data-parent="#selectAccordion2">
										<div class="card-body">
											<div class="time_check row justify-content-center">
												<div class="col d-flex align-items-center" style="white-space: nowrap;">
													<label for="startTime2">시작 시간:</label>
													<input class="ml-2 pl-2 mb-2 time-input" type="text" id="startTime2"
														th:value="${store.storeStarttime}"
														placeholder="00:00 형식으로 입력" />
												</div>
												<div class="col d-flex align-items-center">
													<label for="endTime2">마감 시간:</label>
													<input class="ml-2 pl-2 mb-2 time-input" type="text" id="endTime2"
														th:value="${store.storeEndTime}" placeholder="00:00 형식으로 입력" />
												</div>
											</div>
											<div class="re-error-message" id="error2">*시작 시간이 끝나는 시간보다 빨라야 하며, *형식은
												HH:MM이어야 합니다.</div>
											<input type="hidden" id="selectedTimeInput2"
												class="form-control selected-time" />
											<div class="mt-3 mb-5 time-buttons-container" id="timeButtons2"></div>
										</div>
									</div>
								</div>

								<!-- 인원 체크 -->
								<div class="card">
									<div class="card-header" id="headingMember">
										<div class="d-flex align-items-center" data-toggle="collapse"
											data-target="#collapseMemver" aria-expanded="true"
											aria-controls="collapseMemver">
											<label class="check_title col-4 col-xl-4 col-lg-5 mt-2">인원 선택</label>
											<input type="text" class="form-control selected-Memver setMember"
												value="1" />
										</div>
									</div>
									<div id="collapseMemver" class="collapse" aria-labelledby="headingMember"
										data-parent="#selectAccordion2">
										<div class="card-body">
											<div class="button-container col-12">
												<button class="btn btn-secondary decrementBtn"
													onclick="decrement()">-</button>
												<span class="count col-10" id="count">1</span>
												<button class="btn btn-secondary incrementBtn"
													onclick="increment()">+</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="re-error-message" id="reformError2" style="display: none;">*모두 선택하여 주시기 바랍니다
							</div>
							<button class="col restaurant_re_btn">예약하기</button>
						</div>
					</div>
				</div>
			</div>
			<div id="reservationModal" class="modal" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<form id="reservationForm"
							th:action="@{/reservation/create/{storeId}(storeId=${store.storeId})}" method="post">
							<div class="modal-header">
								<h5 class="modal-title">예약 확인</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<p>예약을 진행하시겠습니까?</p>

								<div class="form-group d-flex mt-2">
									<label class="modyfys" for=" reservationDay">선택한 날짜:</label>
									<input type="text" id="reservationDay" name="reservationDay" class="form-control"
										readonly>
								</div>
								<div class="form-group d-flex">
									<label class="modyfys" for="reservationtTime">선택한 시간:</label>
									<input type="text" id="reservationtTime" name="reservationtTime"
										class="form-control" readonly>
								</div>
								<div class="form-group d-flex">
									<label class="modyfys" for="reservationMember">인원수:</label>
									<input type="text" id="reservationMember" name="reservationMember"
										class="form-control" readonly>
								</div>



							</div>
							<div class="modal-footer d-flex ">
								<button type="submit" class="btn btn-primary" id="confirmReservation">확인</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
							</div>
						</form>
					</div>
				</div>
			</div>

			<script src="/js/store/store_detail.js"></script>
			<script>
				document.addEventListener('DOMContentLoaded', function () {
					const reservationButtons = document.querySelectorAll('.restaurant_re_btn');
					const reservationModal = document.getElementById('reservationModal');
					const reservationDay = document.getElementById('reservationDay');
					const reservationtTime = document.getElementById('reservationtTime');
					const reservationMember = document.getElementById('reservationMember');


					reservationButtons.forEach(button => {
						button.addEventListener('click', function () {
							// 선택한 값 가져오기
							const selectedDate = document.querySelector('.setDay').value;
							const selectedTime = document.querySelector('.setTime').value; // 시작 시간
							const selectedPeople = document.querySelector('.setMember').value;

							// 모달에 값 설정
							reservationDay.value = selectedDate;
							reservationtTime.value = selectedTime;
							reservationMember.value = selectedPeople;
							// 에러 메시지 초기화
							document.getElementById('reformError1').style.display = 'none';
							document.getElementById('reformError2').style.display = 'none';

							// 값이 비어있는지 확인
							if (!selectedDate || !reservationtTime || !reservationMember) {
								document.getElementById('reformError1').style.display = 'block';
								document.getElementById('reformError2').style.display = 'block';
								return;
							}

							$(reservationModal).modal('show'); // 모달 열기
						});
					});

					document.getElementById('confirmReservation').addEventListener('click', function () {
						// 예약 로직을 여기에 추가
						alert('예약이 완료되었습니다.'); // 예시로 알림창을 띄움
						$(reservationModal).modal('hide'); // 모달 닫기
					});




				});
				const recommend_elements = document.getElementsByClassName("recommend");
						Array.from(recommend_elements).forEach(function(element){
							element.addEventListener("click",function(){
								if(confirm("정말로 추천하시겠습니까?")){
									location.href=this.dataset.uri;
								}
							})
						})


			</script>
		</section>
	</div>
</body>

</html>