/* 제목 스타일 */
h2 {
    font-family: 'Arial', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: hotpink;
    text-align: center;
    margin-top: 300px;
}

/* 전체 컨테이너 중앙 정렬 */
.Log_FIR_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vh;
    background-color: #f9f9f9;
    position: relative;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 0 auto;
    background-color: white;
    margin-top: -10px; /* 컨테이너의 위치를 유지 */
    border: 1px solid pink;
}

/* 로그인 버튼 스타일 */
.Log_FIR_btn {
    background-color: pink;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 20px;
}

.Log_FIR_btn:hover {
    background-color: hotpink;
}

/* 비밀번호 찾기 링크 스타일 */
.Log_HelpLinks {
    margin-left: 40vw;
    margin-top: 20px;
}

.Log_HelpLink_btn {
    color: pink;
    text-decoration: none;
    font-size: 16px;
}

.Log_HelpLink_btn:hover {
    text-decoration: underline;
}
