body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Log_FP_container {
    width: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.Log_FP_header {
    text-align: center;
    margin-bottom: 20px;
}

.Log_FP_header h1 {
    margin: 0;
}

.Log_FP_group {
    margin-bottom: 15px;
}

.Log_FP_group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.Log_FP_group input[type="text"],
.Log_FP_group input[type="email"],
.Log_FP_group input[type="password"] {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.Log_FP_btn {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: #4CAF50;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.Log_FP_btn:hover {
    background-color: #45a049;
}

.Log_FP_btn-small {
    padding: 5px;
    background-color: #ddd;
    color: black;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 14px;
}

.Log_FP_btn-small:hover {
    background-color: #ccc;
}
