p {
	margin: 0;

}
.container {
	height: 100%;
}

.My_s a {
	color: black;
	text-decoration: none;
}

.wrap {
	justify-content: center;
}

.box1 {
	box-sizing: border-box;
	height: 250px;
	/* 원하는 높이 조정 */
}

.box2 {
	box-sizing: border-box;
	height: 300px;
	/* 원하는 높이 조정 */
}

.box3 {
	box-sizing: border-box;
	max-height: 300px;
}

.my_boxs {
	border: 1px solid #dee2e6;
	border-radius: 20px !important;
	box-sizing: border-box;
	height: 100%;

	/* 원하는 높이 조정 */
}

.my_s1 {
	flex-direction: column;
	align-items: center;
	height: 480px;
}

.my_s2 {
	flex-direction: column;
	align-items: center;
	height: 380px;
}

.restaurant_img {

	height: 250px;
	width: 250px;
	overflow: hidden;
}

.p_box {
	padding: 20px;
	padding-bottom: 30px;
}

.my_boxs {
	border: 1px solid #ccc;
	box-sizing: border-box;
	height: 100%;
	/* 원하는 높이 조정 */
	border-radius: 20px;
}

.top_boxs {
	border: 1px solid #ccc;
	box-sizing: border-box;
	height: 100%;
	/* 원하는 높이 조정 */

	overflow: hidden;
}

.under_boxs {
	border: 1px solid #ccc;
	box-sizing: border-box;
	height: 100%;
	/* 원하는 높이 조정 */

	overflow-x: auto;
	white-space: nowrap;
}

.top_list {
	width: 100%;
	order: 1px solid rgb(0, 0, 0);
	box-sizing: border-box;
	height: 80%;
	margin: 0px auto;
}

.under_list {
	width: 100%;
	height: 85%;
	order: 1px solid rgb(0, 0, 0);
	box-sizing: border-box;
	height: 85%;
	margin: 0px auto;
}

.list_title {
	font-size: 17px;
	font-weight: 1000;
}

.list_btn {
	font-size: 12px;
	font-weight: 100;
}

.card {

	border: none;
}

.like_title {
	overflow: hidden;
	/* 내용이 넘칠 경우 숨김 처리 */
	white-space: nowrap;
	/* 텍스트가 줄 바꿈되지 않도록 설정 */
	text-overflow: ellipsis;
	/* 넘치는 텍스트에 ... 표시 */
	width: 100%;
	/* 부모 요소의 너비에 맞춤 */
}

.re_title {
	overflow: hidden;
	/* 내용이 넘칠 경우 숨김 처리 */
	white-space: nowrap;
	/* 텍스트가 줄 바꿈되지 않도록 설정 */
	text-overflow: ellipsis;
	/* 넘치는 텍스트에 ... 표시 */
	width: 100%;
	/* 부모 요소의 너비에 맞춤 */
}

.like_title .like_title {
	max-width: 100%;
	/* 최대 너비를 부모 요소에 맞춤 */
	overflow: hidden;
	/* 넘치는 내용 숨김 처리 */
	white-space: nowrap;
	/* 줄 바꿈 방지 */
	text-overflow: ellipsis;
	/* 넘치는 텍스트에 ... 표시 */
}

.re_title p {
	font-size: 12px;
	max-width: 100%;
	/* 최대 너비를 부모 요소에 맞춤 */
	overflow: hidden;
	/* 넘치는 내용 숨김 처리 */
	white-space: nowrap;
	/* 줄 바꿈 방지 */
	text-overflow: ellipsis;
	/* 넘치는 텍스트에 ... 표시 */
}

.reservation_btn {
	padding: 5px;
	margin: 2px 0 10px;
	border-radius: 10px;
	font-size: 15px;
}

.swiper-container {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	box-sizing: border-box;
	overflow: hidden;
}

.swiper-scrollbar {
	background: rgba(175, 175, 175, 0.1);
	/* 스크롤바 배경색 */
}

.swiper-button-prev {
	display: none;
	color: #534d4d;
}

.swiper-button-next, .swiper-button-prev {
	color: #534d4d;
}

/* 웹킷 기반 브라우저용 스크롤바 스타일 */
.under_list::-webkit-scrollbar {
	width: 5px;
	/* 스크롤바 너비 */
	height: 8px;
	/* 가로 스크롤바 높이 */
}

.under_list::-webkit-scrollbar-track {
	width: 10px;
	background: white;
	/* 스크롤바 배경 */
	border-radius: 10px;
	/* 트랙 모서리 둥글게 */
	margin: 2px;
}

.row .under_list::-webkit-scrollbar-thumb {
	width: 5px;
	background: rgb(131, 131, 131);
	/* 스크롤바 색상 */
	border-radius: 10px;
	/* 스크롤바 모서리 둥글게 */
}

.under_list::-webkit-scrollbar-thumb:hover {
	background: #534d4d;
	/* 스크롤바에 마우스를 올렸을 때 색상 */
}

.bord_user h6 {
	font-size: 13px;
	max-width: 100%;
	font-weight: 800;
	margin-bottom: 5px;
	/* 최대 너비를 부모 요소에 맞춤 */
	overflow: hidden;
	/* 넘치는 내용 숨김 처리 */
	white-space: nowrap;
	/* 줄 바꿈 방지 */
	text-overflow: ellipsis;
	/* 넘치는 텍스트에 ... 표시 */
}

.bord_title span {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
}

.bord_title {
	font-size: 15px;
	max-width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

@media screen and (max-width: 992px) {
	.my_s1 {
		height: 100%;
	}
}