@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
body {
    font-family: 'NanumSquare', sans-serif !important;
}
.cs-bg-black{
    background-color: #181818 !important;
}
.navbar-center{
	margin-left: 120px !important;
	
}
.nav-link{
	 white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
