.cs-card{
	margin-top: 60px;
  border-radius: 20px;
  width: 1200px !important;
}
.left-card{
  height: 100%;
}
.left-border {
  border-right: 1px solid #e6e6e6; /* 오른쪽에 회색 선 추가 */
  padding-right: 20px; /* 텍스트와 선 사이에 여백 추가 */
}

.full-height {
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_box {
  display: flex;
  justify-content: center; /* 가로 가운데 정렬 */
  margin-top: auto; /* 부모 요소의 바닥에 붙게 설정 */
}

.cs-btn{
  position: absolute;
  bottom: 0;
}


@media (max-width: 1268px) {
 .cs-card{
  	margin-top: 100px;
  }
}
@media (max-width: 768px) {
  .left-border {
      border-right: none;
  }
  .full-height {
  height: 1200px;
  }
}
 