@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
/*카드 디자인*/
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
/*카드 디자인*/
.body{
    font-family: 'NanumSquare', sans-serif;
}
a {
    text-decoration: none !important;
    color:black; 
}
.S3_card {
    width: 105%;
}
 .custom-border{
    border-radius: 20px !important;
 }
.fa-heart {
    cursor: pointer;
}
/*카드 내용*/
.S3_card-text{
   display: -webkit-box; /* Flexbox를 사용하여 텍스트 박스를 설정합니다. */
    -webkit-box-orient: vertical; /* 수직 방향으로 박스 정렬 */
    -webkit-line-clamp: 4; /* 줄 수를 설정합니다. (예: 3줄) */
    height: auto; /* 높이는 자동으로 조절되도록 설정합니다. */
    overflow: hidden;           
    text-overflow: ellipsis !important;    

}
.S3_card-title{
    font-size: 20px;
    margin-top: -20px;
    text-overflow: ellipsis;
    white-space: nowrap;     
    font-weight: bold;
    color: black;
    text-align: left; /* 텍스트를 왼쪽으로 정렬 */
   
}

.col-8, .col-4 ,.col-12{
   padding: 0px;
   margin: 0px;
}
.S3_carousel-inner {
    width: 100%;
    height: 240px;

}
.S3_store{
	margin: 0;
	padding: 0;
}
.S3_custom-card-img {
    height: 100% !important;
    object-fit: cover;
}
.S3_carousel-item {
    width: 100%;
    height: 100%;
}
.S3_hover_btn{
    display: none;
}
.carousel:hover .S3_hover_btn{
    display: block;
    margin-top: 230px;
}  
.S3_card .text-end {
    display: flex;
    justify-content: flex-end;
}
.S3_card .text-end .fa-heart {
    margin-right: 0; 
}
.text-dark{
    margin-top: -4px;
}

.S3_card-body {
    position: relative; /* 자식 요소의 위치를 기준으로 설정 */
    height:270px;

}
.flex-grow-1 {
    flex-grow: 1;
}

.S3_tag_box {
    position: absolute;
    bottom: 0; /* 카드 하단에 고정 */
    z-index: 2; /* 카드 내용 위에 표시되도록 설정 */ 
    width: 85%; /* 원하는 너비 */
    overflow: hidden; /* 넘치는 내용 숨기기 */
    white-space: nowrap; /* 줄 바꿈 방지 */
    text-overflow: ellipsis; /* 넘치는 텍스트에 ... 표시 */
}

/* 카드에 호버 효과 추가 */
.S3_card {
    transition: transform 0.3s ease; 
}

/* 호버 상태에서 카드 확대 */
.S3_card:hover {
    transform: scale(1.02); 
}
.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    z-index: 1;
}


@media (max-width: 1200px) {
    .S3_carousel-inner {
        width: 100%;
        height: 450px; 
    }
    .S3_custom-card-img {
        height: 100%;
        object-fit: cover; 
    }
    .S3_card {
        width: 100%;
    }
    .S3_card-title{
    font-size: 3vh;
    }

}

/*탭버튼*/
.tap_btn{
   cursor: pointer;
}
.S3_btn_box{

   margin-top: -50px !important;
}


/*지도*/

      #map {
         display: none;
         /* 초기에는 지도가 보이지 않도록 설정 */
         position: fixed;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         z-index: 1000;
      }
     
     #test{
      width: 200px;
      height: 200px;
      position: absolute;
      z-index: 999999999;
     }

      #closeMap {
         display: none;
         /* 초기에는 버튼이 보이지 않도록 설정 */
         position: fixed;
         top: 10px;
         right: 10px;
         z-index: 1001;
         background-color: #fff;
         border: none;
         padding: 10px 20px;
         font-size: 16px;
         cursor: pointer;
      }

     .m_card-body {
         padding: 5px; /* 패딩을 줄여서 박스 크기를 줄임 */
         height: auto; /* 높이를 자동으로 조정 */
     }

     .m_card {
         height: auto; /* 카드 전체 높이를 자동으로 조정 */
         display: flex;
         flex-direction: column;
         justify-content: space-between; /* 내용들이 균등하게 분포되도록 조정 */
     }

     .m_card-title {
         font-size: 20px; /* 텍스트 크기를 적절하게 조정 */
        margin-top: 20px;
         margin-bottom: 35px; /* 이름 아래에 추가적인 여백을 최소화 */
     }

