.container {
    max-width: 1200px; /* 원하는 최대 넓이로 설정 */
    margin: 0 auto; /* 가운데 정렬 */
}

.S3_fe_img_box {
    width: 100%;       /* 부모 요소의 너비에 맞추기 */
    overflow: hidden; /* 자식 요소가 부모 요소를 넘어서지 않도록 */
    position: relative; /* 자식 요소의 절대 위치를 설정할 기준이 됨 */
}

.S3_fe_img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지가 컨테이너를 채우도록 크롭 */
    transition: transform 0.3s ease; /* 부드러운 확대 효과 */
}

/* 아이콘의 스타일을 정의하고 위치를 조정 */
.S3_fe_icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px; 
    color: #ffffff; 
    z-index: 55;
    text-shadow:1px 1px 1px 2px black;
}


/* 이미지와 그리드 아이템 사이의 간격을 줄임 */
.S3_fe_img_box {
    padding: 1.2px;
}

.S3_fe_img_box a {
    width: 100%;
    height: 350px;
    display: block; /* a 태그를 블록 요소로 설정하여 이미지가 제대로 맞춰지게 함 */
    position: relative; /* 자식 요소의 절대 위치를 설정할 기준이 됨 */
}

.S3_fe_img_box a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(24, 24, 24, 0.5), rgba(0, 0, 0, 0));
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 50;
}
.S3_fe_img_box a:hover::before {
    opacity: 1;
}

     /* `sm` 사이즈에서 패딩 조정 */
     @media (max-width: 876px) {
        .S3_fe_img_box {
            margin: 10px;
        }
    }