<html layout:decorate="~{layout}" >
<head>
    <link rel="stylesheet" href="/css/eat_friends.css" />
      <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.min.css" rel="stylesheet">
</head>
<div layout:fragment="content">
  <div class="container my-5">
    <div class="card mb-3 S2_card">
      <div class="row no-gutters">
        <div class="col-md-4 p-3 d-none d-lg-block">
          <img src="img/food/food4.jpg" alt="Eat_card" class="img-fluid h-100 S2_f_card_img">
        </div>
        <div class="d-flex d-lg-none">
          <img src="img/food/food4.jpg" alt="Eat_card" class="img-fluid h-100 S2_f_card_img_m">
        </div>
        <div class="col-lg-5 col-6 p-3 d-flex flex-column justify-content-between S2_txt">
          <div>
            <h4 class="card-title mt-2 font-weight-bold">빙수 먹으실 분 찾습니다!</h4>
            <p class="card-text mt-4">
              <i class="ri-map-pin-2-line ri-2x"></i><span class="mt-3 ml-2">수원역 12번 출구</span><br>
              <i class="ri-calendar-schedule-line ri-2x"></i><span class="mt-3 ml-2">2024년 08월 30일 12시30분</span><br>
              <i class="ri-restaurant-fill ri-2x"></i><span class="mt-3 ml-2">투썸플레이스</span>
            </p>
          </div>
          <p class="card-text ml-2"><small class="text-muted">2시간 전 업데이트</small></p>
        </div>
        <div class="col-lg-3 col-6 d-flex flex-column justify-content-between position-relative px-3 S2_txt">
          <div class="d-flex justify-content-end p-2">
            <i class="ri-account-pin-circle-fill mt-3"><span>3/4명</span></i>
          </div>
          <div class="d-flex justify-content-end p-2">
            <button class="btn btn-dark">밥친구 채팅</button>
          </div>
        </div>
      </div>
      <!--row-->
    </div>
  <!--card-->
    <div class="card mb-3 S2_card">
      <div class="row no-gutters">
        <div class="col-md-4 p-3 d-none d-lg-block">
          <img src="img/food/food4.jpg" alt="Eat_card" class="img-fluid h-100 S2_f_card_img">
        </div>
        <div class="d-flex d-lg-none">
          <img src="img/food/food4.jpg" alt="Eat_card" class="img-fluid h-100 S2_f_card_img_m">
        </div>
        <div class="col-lg-5 col-6 p-3 d-flex flex-column justify-content-between S2_txt">
          <div>
            <h4 class="card-title mt-2 font-weight-bold">빙수 먹으실 분 찾습니다!</h4>
            <p class="card-text mt-4">
              <i class="ri-map-pin-2-line ri-2x"></i><span class="mt-3 ml-2">수원역 12번 출구</span><br>
              <i class="ri-calendar-schedule-line ri-2x"></i><span class="mt-3 ml-2">2024년 08월 30일 12시30분</span><br>
              <i class="ri-restaurant-fill ri-2x"></i><span class="mt-3 ml-2">투썸플레이스</span>
            </p>
          </div>
          <p class="card-text ml-2"><small class="text-muted">2시간 전 업데이트</small></p>
        </div>
        <div class="col-lg-3 col-6 d-flex flex-column justify-content-between position-relative px-3 S2_txt">
          <div class="d-flex justify-content-end p-2">
            <i class="ri-account-pin-circle-fill mt-3"><span>3/4명</span></i>
          </div>
          <div class="d-flex justify-content-end p-2">
            <button class="btn btn-dark">밥친구 채팅</button>
          </div>
        </div>
      </div>
      <!--row-->
    </div>
  <!--card-->
    <div class="card mb-3 S2_card">
      <div class="row no-gutters">
        <div class="col-md-4 p-3 d-none d-lg-block">
          <img src="img/food/food4.jpg" alt="Eat_card" class="img-fluid h-100 S2_f_card_img">
        </div>
        <div class="d-flex d-lg-none">
          <img src="img/food/food4.jpg" alt="Eat_card" class="img-fluid h-100 S2_f_card_img_m">
        </div>
        <div class="col-lg-5 col-6 p-3 d-flex flex-column justify-content-between S2_txt">
          <div>
            <h4 class="card-title mt-2 font-weight-bold">빙수 먹으실 분 찾습니다!</h4>
            <p class="card-text mt-4">
              <i class="ri-map-pin-2-line ri-2x"></i><span class="mt-3 ml-2">수원역 12번 출구</span><br>
              <i class="ri-calendar-schedule-line ri-2x"></i><span class="mt-3 ml-2">2024년 08월 30일 12시30분</span><br>
              <i class="ri-restaurant-fill ri-2x"></i><span class="mt-3 ml-2">투썸플레이스</span>
            </p>
          </div>
          <p class="card-text ml-2"><small class="text-muted">2시간 전 업데이트</small></p>
        </div>
        <div class="col-lg-3 col-6 d-flex flex-column justify-content-between position-relative px-3 S2_txt">
          <div class="d-flex justify-content-end p-2">
            <i class="ri-account-pin-circle-fill mt-3"><span>3/4명</span></i>
          </div>
          <div class="d-flex justify-content-end p-2">
            <button class="btn btn-dark">밥친구 채팅</button>
          </div>
        </div>
      </div>
      <!--row-->
    </div>
 
  </div>
  <!--container-->
</div>
</html>
