<footer class="Fu " th:fragment="footerFragment">
	<section class="Fu_class">
	            <div class="Fu1">
	                <div class="Fu1_a">
	                    <div class="Fu1_b">
	                        <div class="Fu1_c1">
	                            <ul class="Fu1_c1_">
	                                <li class="Fu1_c1_a">
	                                    <a href="" class="Fu1_c1_b">
	                                        <span class="Fu1_c1_c">프로젝트 계획서</span>
	                                        <img class="Fu1_c1_c2" src="image/footer_arrow.svg" alt="">
	                                    </a>
	                                </li>
	                                <li class="Fu1_c1_a">
	                                    <a href="" class="Fu1_c1_b noa">
	                                        <span class="Fu1_c1_c">프로젝트 일정표</span>
	                                        <img class="Fu1_c1_c2" src="image/footer_arrow.svg" alt="">
	                                    </a>
	                                </li>
	                                <li class="Fu1_c1_a">
	                                    <a href="" class="Fu1_c1_b">
	                                        <span class="Fu1_c1_c">데이터 베이스 구성</span>
	                                        <img class="Fu1_c1_c2" src="image/footer_arrow.svg" alt="">
	                                    </a>
	                                </li>
	                                <li class="Fu1_c1_a">
	                                    <a href="" class="Fu1_c1_b">
	                                        <span class="Fu1_c1_c">기술 보고서</span>
	                                        <img class="Fu1_c1_c2" src="image/footer_arrow.svg" alt="">

	                                    </a>
	                                </li>
	                                <li class="Fu1_c1_a">
	                                    <a href="" class="Fu1_c1_b noa">
	                                        <span class="Fu1_c1_c">각자의 한마디</span>
	                                        <img class="Fu1_c1_c2" src="/image/footer_arrow.svg" alt="">
	                                    </a>
	                                </li>
	                            </ul>

	                        </div>
	                        <div class="Fu1_c2">
	                            <div class="Fu1_c2_a1">
	                                <span>Team Member</span>
	                                <img src="/img/arrow_drop.svg" alt="arrow">
	                            </div>
	                            <ul class="Fu1_c2_a2">
	                                <li class="Fu1_c2_a2_a">
	                                    <a href="#">Park JongMin</a>
	                                </li>
	                                <li class="Fu1_c2_a2_a">
	                                    <a href="#">Park JiMin</a>
	                                </li>
	                                <li class="Fu1_c2_a2_a">
	                                    <a href="#">Kim JiWon</a>
	                                </li>
	                                <li class="Fu1_c2_a2_a">
	                                    <a href="#">Kang GunHo</a>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>
	                </div>

	            </div>
	            <div class="Fu2">
	                <div class="Fu2_a1">
	                    <ul class="Fu2_a1_b">
	                        <li class="Fu2_a1_c">
	                            <a href="#" class="Fu2_a1_d">
	                                <img src="/img/iconmonstr-github-3.svg" alt="youtube">
	                            </a>
	                        </li>
	                        <li class="Fu2_a1_c">
	                            <a href="#" class="Fu2_a1_d">
	                                <img src="/img/sns-youtube.svg" alt="youtube">
	                            </a>
	                        </li>
	                        <li class="Fu2_a1_c">
	                            <a href="#" class="Fu2_a1_d">
	                                <img src="/img/icon-googleplay.svg" alt="youtube">
	                            </a>
	                        </li>
	                    </ul>
	                    <div class="Fu2_a2"><img src="/img/logo+(3).svg" alt=""></div>
	                    <address class="Fu2_a3">(06019) 서울특별시 강남구 도산대로 327</address>
	                    <p class="Fu2_a4">CookieRun® © 2022 Devsisters Corp. All Rights Reserved</p>
	            </div> 
	            </div>
	        </section>
</footer>