<html layout:decorate="~{layout}">
<head>

<link rel="stylesheet" href="/css/category.css">
<link rel="stylesheet" href="/mystyle.css">
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

</head>
<div layout:fragment="content">
	
	<section class="M_s1">
		<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators d-none" >
				<!-- Indicators will be dynamically added here -->
			</div>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="gradient-overlay"></div>
					<img src="/img/carousel_1.png" class="d-block w-100 img-fluid" alt="...">
					<div class="carousel-caption d-none d-md-block">
						<h5 class="text-title t-shadow" >우린 그냥 먹고놀고</h5>
						<p class="content t-shadow">당신이 찾던 맛집 사이트</p>
					</div>
				</div>
				<div class="carousel-item">
					<div class="gradient-overlay"></div>
					<img src="/img/carousel_2.png" class="d-block w-100 img-fluid" alt="...">
					<div class="carousel-caption d-none d-md-block">
						<h5 class="text-title t-shadow">맛집 친구를 찾는다면?</h5>
					</div>
				</div>
				<div class="carousel-item">
					<div class="gradient-overlay"></div>
					<img src="/img/carousel_3.png" class="d-block w-100 img-fluid" alt="...">
					<div class="carousel-caption d-none d-md-block">
						<h5 class="text-title t-shadow">모든 미식가를 위한 <br> 최고의 선택</h5>
						<p class="content t-shadow">광고 없는 솔직한 리뷰들로 이야기합니다.</p>
					</div>
				</div>
			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
				data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
				data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
		<div class="search-container">
			<input type="text" class="search-box" placeholder="search" id="search-input">
			<div class="dropdown-menu" id="dropdown-menu">
				<div class="dropdown-section">
					<h4>최근 검색어</h4>
					<div id="recent-searches">
						<!-- 최근 검색어가 여기에 추가됩니다 -->
					</div>
				</div>
				<div class="dropdown-section">
					<h4>인기 키워드</h4>
					<div class="tag-container">
						<div class="tag">#루프탑</div>
						<div class="tag">#한옥</div>
						<div class="tag">#발레</div>
						<div class="tag">#바베큐</div>
						<div class="tag">#쿠킹</div>
						<div class="tag">#영화</div>
						<div class="tag">#필라테스</div>
						<div class="tag">#요가</div>
						<div class="tag">#브라이덜샤워</div>
						<div class="tag">#자연광</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="M_s2">
		<div class="container my-5" style="overflow: hidden;">
			<div class="M_s2_a1">
				<h3 class="mt-4 my-3">인기 있는 맛집</h3>
				<div class="swiper-container" th:if="${storeList != null}">
					<div class="swiper-wrapper">
						<div class="swiper-slide" th:each="store : ${storeList}">
							<div class=" mb-4">
								<div class="card">
									<div id="ProRestaurant1" class="carousel slide" data-ride="carousel">
										<div class="carousel-inner">
											<div class="carousel-item active">
												<img th:src="@{{storeImage}(storeImage=${store.imageUrl})}"  class="card-img-top" alt="가게 이미지" />
											</div>
										</div>
									</div>
									<div class="card-body">
										<div class="storeicon d-flex align-items-center mb-2">
											<i class="fa-solid fa-star" style="color: #FFD43B;"></i>
											<small class="ml-1">4.5</small>
										</div>
										<div class="d-flex justify-content-between align-items-center">
											<h5 class="card-title mb-3" th:text="${store.storeName}">가게 이름</h5>
										</div>
										<div class="d-flex justify-content-between align-items-center mb-3">
											<div class="d-flex align-items-center">
												<i class="fa-solid fa-location-dot"></i>
												<small class="ml-1" th:text="${store.basicAddress}">주소</small>
											</div>
										</div>
										<!-- 상세 페이지로 이동 -->
										<a th:href="@{/store/detail/{storeId}(storeId=${store.storeId})}"
											class="btn btn-primary">상세 보기</a>
									</div>
								</div>
							</div>
						</div>
						<!-- 추가적인 swiper-slide을 여기에 추가 -->
					</div>
					<div class="swiper-pagination pagination_bullet">
					</div>
				</div>
				
				
				
				
				<div class="M_s2_a2">
				
			
    <div class="container my-5">
        <h3 class="mt-4 my-3">최신 리뷰</h3>
        <div class="row">
            <div class="col-xl-4 col-lg-6 my-2" th:each="review : ${reviewPage}">
                <div class="card h-100 custom-border mx-auto">
                    <a th:href="@{/review_detail/{id}(id=${review.id})}" class="text-dark">
                        <h5 class="d-flex align-items-center mt-3 ml-3 mb-2">
                            <img th:src="@{${review.user.imageUrl} != null ? ${review.user.imageUrl} : '/img/user/default-profile.png'}" 
                                 alt="user_img" class="rounded-circle" style="width: 50px; height: 50px">
                            <span class="d-flex align-items-center mx-2" th:text="${review.user.nickname}"></span>
                        </h5>
                    </a>
                    <div class="carousel slide px-2" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img th:src="@{${review.reviewImageMap[0].reviewImage.filepath}}" class="d-block w-100" alt="Review Image">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${review.title}"></h5>
                        <p class="card-text" th:text="${review.content}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

				
						</div>

						<!-- 케로셀 버튼 추가 -->
						<div class="swiper-button-prev"></div>
						<div class="swiper-button-next"></div>
					</div>
				</div>
				<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
				<script src="myscript.js"></script>
	</section>
	
		<script src="/js/review_page_like.js"></script>
</div>
<!--layout:fragment="content"  -->

</html>
<!-- layout -->