<!-- layout.html :모든 템플릿이 상속해야 하는 템플릿-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>먹고놀고</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link rel="stylesheet" href="/css/footer.css">
	<link rel="stylesheet" href="/css/navbar.css">
	  <!-- 파비콘 링크 -->
	  <script src="https://kit.fontawesome.com/07418af434.js" crossorigin="anonymous"></script>
	<link rel="icon" href="/img/spoon.png" type="image/png">
    
</head>
<body>
<nav th:replace="~{navbar :: navBarFragment}" ></nav>
<!-- 기본 템플릿 안에 삽입될 내용 start -->
<th:block layout:fragment="content"></th:block>
<!-- 기본 템플릿 안에 삽입될 내용 end -->
<footer th:replace="~{footer :: footerFragment}"></footer>
<!-- 자바스크립트 start -->
<th:block layout:fragment="script"></th:block>
<!-- 자바스크립트 end -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://kit.fontawesome.com/07418af434.js" crossorigin="anonymous"></script>

<script src="/js/footer.js"></script>
</body>
</html>
