<nav class="navbar navbar-expand-lg navbar-dark container-fiuid p-2 cs-bg-black mb-5" th:fragment="navBarFragment">
 		<div class="container">
            <a class="navbar-brand" href="/"><img src="/img/logo/logo (3).png" alt="logo"><span class="sr-only">먹고놀고</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav navbar-center">
                    <li class="nav-item active mx-2">
                        <a class="nav-link" href="#">맛집찾기</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/review">이용후기</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="/eat">밥친구찾기</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="#">공지사항</a>
                    </li>
                    <li class="nav-item mx-2 d-flex d-lg-none">
                        <a class="nav-link" href="/user/login">로그인</a>
                    </li>
                    <li class="nav-item mx-2 d-flex d-lg-none">
                        <a class="nav-link" href="/user/signup">회원가입</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-md-auto d-none d-lg-flex">
                    <li class="nav-item">
                        <a class="nav-link" href="/user/login">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/signup">회원가입</a>
                    </li>
                </ul>
            </div>
         </div>
 </nav>
